<launch>

  <param name="robot_description" textfile="Mappi.urdf" />

  <!-- Static transform from base_link to base_laser_link -->
  <node name="lidar_transform" pkg="tf2_ros" type="static_transform_publisher"
    args="0 0 0.05 0 0 0 1 /base_link /base_laser_link" />

  <!-- Play from bag -->
  <node name="bag" pkg="rosbag" type="play" args="./bagfiles/Mapping1.bag /base_pose_ground_truth:=/odom /base_scan:=/scan" />

  <!-- SLAM -->
  <node name="slam" pkg="hector_mapping" type="hector_mapping">
    <param name="map_frame" value="map" />
    <param name="pub_map_odom_transform" value="false" />
  </node>
</launch>
