<!-- Sets up an XV-11 LIDAR sensor node and associated speed control logic -->
<launch>

  <!-- Piccolo Laser Distance Sensor (XV-11) -->
  <node name="xv11" pkg="xv_11_laser_driver" type="neato_laser_publisher">
    <remap from="rpms" to="xv_11_rpm" />
    <param name="firmware_version" value="2" />
    <param name="port" value="/dev/serial0" />
    <param name="frame_id" value="laser" />
  </node>

  <!-- Speed tracker/intermediary -->
  <node name="speed_tracker" pkg="xv_11_speed_control" type="speed_tracking_node">
    <param name="rpm_in_topic" value="xv_11_rpm" />
    <param name="rpm_out_topic" value="xv_11_rpm_filtered" />
  </node>

  <!-- PWM output controller -->
  <node name="xv_11_pwm" pkg="raspberry_pi" type="pwm_node">
    <param name="duty_cycle_topic" value="xv_11_duty_cycle" />
    <param name="pwm_frequency" value="100" />
  </node>

  <!-- PID controller -->
  <node name="xv_11_pid" pkg="pid" type="controller">
    <!-- Parameters: Topics -->
    <param name="topic_from_plant" value="xv_11_rpm_filtered" />
    <param name="topic_from_controller" value="xv_11_duty_cycle" />
    <param name="setpoint_topic" value="xv_11_target_rpm" />
    <!-- Output limits -->
    <param name="upper_limit" value="1" />
    <param name="lower_limit" value="0" />
    <!-- Tuning constants (should all be positive) -->
    <param name="Kp" value="1.0" />
    <param name="Ki" value="0.0" />
    <param name="Kd" value="0.0" />
  </node>

</launch>
